@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Formulario de socios</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
            <a href="~/socios/Index" class="btn btn-primary">Socios</a>

     
    </div>
    <div class="col-md-4">
        
    </div>
</div>